.header {
    grid-area: header;
    background-color: $colorNav;
}

.dropdown-item{
	text-align: center;
}

a:hover {
    transform: scale(1.1);
}

a {
    transition-property: all;
    transition-duration: 2s;
}